SwordOffer/*/*/.vs

SwordOffer/*/*/Debug

SwordOffer/*/*/Release

SwordOffer/*/*/x64

OneQuestionPerDay/*/*/.vs

OneQuestionPerDay/*/*/Debug

OneQuestionPerDay/*/*/Release

OneQuestionPerDay/*/*/x64

DataStructure/*/*/.vs

DataStructure/*/*/Debug

DataStructure/*/*/Release

DataStructure/*/*/x64